{% set pageTitle = services
  .data[0]
  .attributes
  .Title %}
{% set pageDescription = services.data[0].attributes.Description%}
{% set team = ""%}
{% set pageSection = "Teams" %}

{% extends "includes/dh-layout.njk" %}

{% block breadcrumb %}
  {{ breadcrumb({
 
  href: "/",
  text: "Home",
  classes: "app-breadcrumb"
}) }}

{% endblock %}

{% block bodyContent %}

  <div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
    <details class="dfeuk-details dfeuk-expander">
      <summary class="dfeuk-details__summary">
        <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
      </summary>
      <div class="dfeuk-details__text  govuk-!-margin-left-5">
        {% include "includes/_side-nav.njk" %}
      </div>
    </details>
  </div>

 

  {% if services
    .data[0]
    .attributes
    .services
    .data.length %}
    <h2 class="govuk-heading-m">Services by this team</h2>
    <ul class="dfeuk-grid-row dfeuk-card-group">
      {% for service in services
        .data[0]
        .attributes
        .services
        .data %}
        {% if not service.attributes.Password %}
        <li class="dfeuk-grid-column-full dfeuk-card-group__item">
          <div class="dfeuk-card dfeuk-card--clickable">
            <div class="dfeuk-card__content">
              <h2 class="dfeuk-card__heading dfeuk-heading-s">
                <a class="dfeuk-card__link" href="/{{service.attributes.Slug}}">{{service.attributes.Title}}</a>
              </h2>
              <p class="dfeuk-card__description govuk-body-s">{{service.attributes.Description}}</p>

            </div>
          </div>
        </li>
        {% endif %}
      {% endfor %}

    </ul>

    {% else%}
    <h2 class="govuk-heading-m">There are no services for this team yet.</h2>
  {% endif %}

{% endblock %}

{% block sideContent %}{% endblock %}